.navbar-custom {
	background-color: #e3f2fd;
}

.navright{
	text-align: right;
	margin-right: 40px;
}

.nav-item, .nav-link {
	color: black;
}

.header{
	background-image: url("https://cdn.pixabay.com/photo/2016/02/19/10/53/background-1209461_960_720.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	height: 100vh;
}
.overlay{
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(244, 244,244,0.60);
}
.description{
	position: absolute;
	top: 30%;
	margin: auto;
	padding: 2em;
}
.button-custom{
	    background-color:#e3f2fd;
	    color: black;
	    border-color:#e3f2fd;
}
.cust-h1{
	color:#e3f2fd;
	text-shadow: 3px 3px grey;
	font-weight: bold;
	font-family: 'Srisakdi', cursive;
}

.lead{
	font-family: 'Srisakdi', cursive;
}

.custom-right{
	border-right: 10px solid #e3f2fd;
}

.navbar{
	color: #e3f2fd;
}

.container{
	padding-top: 20px;
}

.about{
	text-align: center;
}

.img{
	 border-radius: 50%;
	 display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 100%;
  height: 70%;
}

.img1{

  height: 250px;
  width: 350px;
 box-shadow: 5px 3px lightgrey;
}

.card{
	box-shadow: 5px 3px lightgrey;
}

.text-center{
	color:#e3f2fd;
	text-align: center;
	vertical-align: middle;
	margin-top:90px;
}

.custombtn{
	background-color: lightgrey;
	color: black;
	width: 100%;
	border-color:#e3f2fd;
	font-family: 'Srisakdi', cursive;
}
.custombtn:hover {
	background-color: darkgrey;
		color: black;
		border-color: #e3f2fd;
		font-family: 'Srisakdi', cursive;
}

.custom-form{
	background-color: #e3f2fd ;
	border-color: darkgrey;
	padding: 15px;
	border-radius: 10px;
}
.text-center{
	font-family: 'Srisakdi', cursive;
}

.card-title{
	font-family: 'Srisakdi', cursive;
}